.component-mat-select-search {
    width: 100%;
}

/* .mat-input-search {
    border: 1px rgba(192, 192, 192, 0.6) solid;
    border-radius: 40px;
    height: 35px;
    margin: 10px;
    padding-left: 15px;
    width: 93%;
} */

::ng-deep .mat-select-panel {
    max-width: 90vw !important;
}

::ng-deep .panel-above {
    transform: translateY(-100%) !important;
    margin-top: 20px;
}

.link_formulario_cadastro {
    text-decoration: none;
    color: #333333;
    width: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-inner {
    padding: 10px 10px !important;
    margin-bottom: 0px !important;
}

.filter-inner .custom-filter {
    padding-right: 0px !important;
}

.filter-inner-end {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-right: 1px solid rgba(192, 192, 192, 0.6);
    width: 100%;
}

.hide-arrow{
    ::ng-deep .mat-select-arrow{
        opacity: 0 !important;
    }
}