<div class="d-flex justify-content-between align-items-center mr-2">
    <div class="component-mat-select-search">
      <mat-form-field id="component-mat-select-search"
        [ngStyle]="{ width: formLink != '' && !readonly && control.enabled ? 'calc(100% - 25px)' : '100%' }">
        <mat-label><b ngIf="controlRequired && controlIsRequired" style="color: rgb(223, 106, 106)"></b> {{ this.labelCustom }} </mat-label>
        <input *ngIf="readonly" type="text" matInput readonly [value]="selectedValue.key" />
        <mat-select *ngIf="!readonly" (selectionChange)="onSelectionChange($event)" (openedChange)="onOpenedChange()"
          #selectSearch (focus)="onFocus()" [formControl]="control" [disableOptionCentering]="true" [disabled]="disabled"
          (keydown)="$event.stopPropagation()" [panelClass]="panelAbove ? 'panel-above' : 'panel-mat-select-search'" [ngClass]="{ 'hide-arrow': hideArrow }">
          <!-- <input type="text" placeholder="pesquisar" class="mat-input-search" [formControl]="search"> -->
  
          <div class="filter-inner">
            <div class="custom-filter">
              <input placeholder="Pesquisar {{ capturaColumnFilter() }}" [formControl]="search" #input
                (keydown)="$event.stopPropagation()" [ngClass]="{ 'filter-inner-end': columnsFilter.length <= 0 }"
                class="mat-input-search" />
              <button *ngIf="columnsFilter.length > 0" matTooltip="Filtro" (click)="tableService.showFilterLabel()"
                [ngClass]="{ active: tableService.isFilterButtonActive }" [matMenuTriggerFor]="menuColumns">
                <mat-icon inline="true" class="filter-button">filter_list</mat-icon>
              </button>
              <mat-menu #menuColumns="matMenu" class="filter-menu">
                <ng-container *ngFor="let coluna of columnsFilter">
                  <span class="filter-item" *ngIf="coluna.Visivel === 'S'" (click)="setFiltro(coluna)">
                    {{ coluna.Filtro }}
                  </span>
                </ng-container>
              </mat-menu>
            </div>
          </div>
  
          <mat-option *ngIf="showNaoDefinido" [value]="null">--- Não definido ---</mat-option>
  
          <mat-option *ngFor="let option of options | async" [value]="option.value">
            {{displayLabel(option)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!disabled" [errorValidators]="control" aria-describedby=""></mat-error>
      </mat-form-field>
      <a *ngIf="formLink != '' && !readonly && !disabled && control.enabled"
        title=" Abre uma nova guia contendo o formulário correspondente ao item selecionado para inserção de novos valores"
        class="link_formulario_cadastro" (click)="openLink()">...</a>
    </div>
  </div>